
/* Import fonts */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

@import url(line-icons.css);

body {
    color: #797979;
    background: #eeeeee;
    font-family: 'Lato', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:14px !important;
}

h1,h2,h3,h4,h5{
    font-weight: 300;
}

label{
    font-weight: 300;
}

ul li {
    list-style: none;
}

a, a:hover, a:focus {

    text-decoration: none;
    outline: none;
    outline: 0;
}

input:focus, textarea:focus { outline: none; }

table tr th { color: #688a7e;}

*:focus {outline: none;}

::selection {
    background: #688a7e;
    color: #fff;
}

::-moz-selection {
    background: #688a7e;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}

.lite{ color: #00a0df !important;}

.copyright {
  width: 100%;
  position: absolute;
  bottom: 3%;
}


/*sidebar navigation*/
#sidebar {
    width: 180px;
    height: 100%;
    position: fixed;
    background: #394a59;
}

.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 60px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}
#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #394a59;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 0 0 0 32px;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #d0d8df;
    font-size: 14px;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    line-height: 20px !important;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
    font-size: 16px;
}
ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #d0d8df;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
}

ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #2e3b46;
    color: #fff;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    border-bottom: 1px solid #d0d8df;
}

/*ul.sidebar-menu li.active a,*/ ul.sidebar-menu .sub-menu li.active a{
    border-bottom: 1px solid #d0d8df;
}

ul.sidebar-menu li a i {
    font-size: 18px;
    padding-right: 6px;
    /*color: #688a7e;*/
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i { color: #fff;}

ul.sidebar-menu li.active a i {
    color: #fff;
}


#sidebar ul > li > a .arrow {
    border-bottom: 4px solid transparent;
    border-left: 4px solid #A0A0A0;
    border-top: 4px solid transparent;
    float: right;
    height: 0;
    margin-right: 10px;
    margin-top: 6px;
    width: 0;
}

#sidebar ul > li > a .menu-arrow {
    float: right;
    margin-right: 8px;
    margin-top: 6px;
}

#sidebar > ul > li > a .arrow.open {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #A0A0A0;
    float: right;
    height: 0;
    margin-right: 10px;
    margin-top: 8px;
    width: 0;
}

#sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow {
    float: right;
    margin-top: 6px;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-left: 4px solid #d0d8df;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

#sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open {
    float: right;
    margin-top: 8px;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 5px solid #d0d8df;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.mail-info, .mail-info:hover {
    margin: 3px 6px 0 0;
    font-size: 11px;
}

/*main content*/
#main-content {
    margin-left: 180px;
}

.header, .footer {
    min-height: 60px;
    padding: 0 15px;
}

.box1 {
    font-size: 16px;
    display: inline-block;
    width: 25%;
    padding: .25em .5em;
    margin: 20px 10px 0 0;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

.white-bg {
    background: rgba(255,255,255,0.9);
    border-bottom: 1px solid #f1f2f7;
}

.dark-bg {
    background: rgba(54,66,74,1);
    border-bottom: 1px solid #f1f2f7;
}

.panel-content{
    padding: 10px;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding: 15px;
    width: 100%;
}

a.logo {
    font-size: 22px;
    font-weight: 300;
    color: #fed189;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

a.logo span { color: #688a7e;}

/* user section */

#top_menu .nav > li, ul.top-menu > li { float: left;}

.search-row {
    float: left;
    margin-top: 15px;
    margin-left: 16px;
}

.notification-row {
    float: right;
    margin-top: 15px;
    margin-left: 65px;
}

#task_notificatoin_bar, #mail_notificatoin_bar, #alert_notificatoin_bar{
    margin-top: 7px;
}

ul.top-menu > li > a {
    color: #fed189;
    font-size: 18px;
    padding: 2px 6px;
    margin-right: 15px;
}

ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {
    background: transparent !important;
    color: #D7D7D7 !important;
}

.notification-row .badge {
    position: absolute;
    right: -4px;
    top: 0px;
    z-index: 100;
    border-radius: 9px;
    min-width: 18px;
    height: 18px;
    text-align: center;
    padding: 3px 5px;
    background: #00a0df;
    font-weight: 400;
}

.badge {
    border-radius: 9px;
    min-width: 18px;
    height: 18px;
    text-align: center;
    padding: 3px 5px;
    background: #00a0df;
}

.dropdown-menu.extended {
    max-width: 300px !important;
    min-width: 160px !important;
    top: 42px;
    width: 235px !important;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
    border: none !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.navbar-form{
    padding: 0px;
    margin: 0 0 0 10px;
}

.navbar-form .form-control{
    width: 200px;
    height: 30px;
    background: white url('../img/icons/search-line-icon.png') no-repeat 3px;
    padding-left: 24px;
    margin-top: 1px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    /* Safari and Chrome */

    .dropdown-menu.extended  {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
    };

}


.top-nav  {
    margin-top: 7px;
}

.top-nav ul.top-menu > li .dropdown-menu.logout {
    width: 200px !important;
}

.top-nav li.dropdown .dropdown-menu {
    float: right;
    right: 0;
    left: auto;
}

.dropdown-menu.extended.logout > li {
    float: left;
    text-align: left;
    width: 100%;
}

.dropdown-menu.extended.logout > li.eborder-top {
    border-top: 2px solid #688a7e !important;
}

.dropdown-menu.extended.logout > li:last-child {
    float: left;
    text-align: left;
    width: 100%;
    background: #688a7e;
}

.dropdown-menu.extended.logout > li:last-child > a, .dropdown-menu.extended.logout > li:last-child > a:hover {
    color: #fff;
    border-bottom: none !important;
    text-transform: uppercase;
    background-color:#688a7e !important;
}

.dropdown-menu.extended.logout > li:last-child > a:hover > i{
    color: #fff;
}
.dropdown-menu > li > a{
    color: #797979;
}

.dropdown-menu.extended.logout > li > a {
    border-bottom: 1px solid #EBEBEB !important;
    font-size: 14px;
    list-style: none;
    padding: 15px 10px !important;
    width: 100%;
    display: inline-block;
}

.dropdown-menu.extended.logout > li > a:hover {
    background-color: #F7F8F9 !important;
    color: #2E2E2E;
    border-bottom: 1px solid #688a7e !important;
}

.dropdown-menu.extended.logout > li > a:hover i {
    color: #688a7e;
}
.dropdown-menu.extended.logout > li > a i {
    font-size: 17px;
}
.dropdown-menu.extended.logout > li > a > i {
    display: inline-block;
    padding-right: 10px
}


.profile-ava img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid #688a7e;
    display: inline-block;
}

.profile-ava img.simple{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid rgba(0,112,255,0.4);
    display: inline-block;
}

.top-nav .username {
    font-size: 13px;
    color: #bdbdbd;
}


.top-nav ul.top-menu > li > a {
    padding: 8px;
    background: none;
    margin-right: 0;
}

.top-nav ul.top-menu > li {
    margin-left: 10px;
}

.top-nav ul.top-menu > li > a:hover, .top-nav ul.top-menu > li > a:focus {
    background: #F1F2F7;
}

.top-nav .dropdown-menu.extended.logout { top: 50px;}
.top-nav .nav .caret {
    border-bottom-color: #A4AABA;
    border-top-color: #A4AABA;
}
.top-nav ul.top-menu > li > a:hover .caret {
    border-bottom-color: #7498f1;
    border-top-color: #7498f1;
}

.log-arrow-up {
    background: url("../img/arrow-up.png") no-repeat;
    width: 20px;
    height: 11px;
    position: absolute;
    right: 20px;
    top: -10px;
}

/*----*/
.page-header {
  margin: 12px 0 20px;
  border-bottom: none;
  opacity: 0.7;
  text-transform: uppercase;
}

.page-header i {
  color: #acb1b8;
  margin-right: 10px;
  float: left;
  font-size: 30px;
  line-height: 22px;
  opacity: 0.8;
}

.breadcrumb {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  height: 34px;
  position: relative;
  margin: 0 0 19px 0;
  overflow: hidden;
}

.breadcrumb li {
  position: relative;
  margin-right: 0;
}

.breadcrumb li i {
  Font-size: 15px;
  margin-right: 5px;
}

.breadcrumb > .active {
  color: #d4d4d4;
}

/*----------------	color------------------------*/
.dark-heading-bg {
  background: #4c4f53;
  border: 1px solid #4c4f53;
}

.main-bg {
  background: #e6e8ea;
}

.white-bg {
  color : #768399;
  background : #fff;
  background-color : #fff;
}

.red-bg {
  color : #fff;
  background : #d95043;
  background-color : #d95043;
}

.blue-bg {
  color : #fff;
  background : #57889c;
  background-color : #57889c;
}

.green-bg {
  color : #fff;
  background : #26c281;
  background-color : #26c281;
}

.greenLight-bg {
  color: #71843f;
  background: #71843f;
  background-color: #71843f;
}

.yellow-bg {
  color : #fff;
  background : #fc6;
  background-color : #fc6;
}

.orange-bg {
  color : #fff;
  background : #f4b162;
  background-color : #f4b162;
}

.purple-bg {
  color : #fff;
  background : #af91e1;
  background-color : #af91e1;
}

.pink-bg {
  color : #fff;
  background : #f78db8;
  background-color : #f78db8;
}

.lime-bg {
  color : #fff;
  background : #a8db43;
  background-color : #a8db43;
}

.magenta-bg {
  color : #fff;
  background : #e65097;
  background-color : #e65097;
}

.teal-bg {
  color : #fff;
  background : #97d3c5;
  background-color : #97d3c5;
}

.brown-bg {
  color : #fff;
  background : #d1b993;
  background-color : #d1b993;
}

.gray-bg {
  color : #768399;
  background : #e4e9eb;
  background-color : #e4e9eb;
}

.dark-bg {
  color : #fff;
  background : #1a2732;
  background-color : #1a2732;
}

.facebook-bg {
  color: #fff;
  background: #3b5998;
  background-color : #3b5998;
}

.twitter-bg {
  color: #fff;
  background: #00aced;
  background-color : #00aced;
}

.linkedin-bg {
  color: #fff;
  background: #4875b4;
  background-color : #4875b4;
}

.notify-arrow {
    border-style: solid;
    border-width: 0 9px 9px;
    height: 0;
    margin-top: 0;
    opacity: 0;
    position: absolute;
    right: 7px;
    top: -18px;
    transition: all 0.25s ease 0s;
    width: 0;
    z-index: 10;
    margin-top: 10px;
    opacity: 1;
}

.notify-arrow-blue{
    border-color: transparent transparent #688a7e;
    border-bottom-color: #688a7e !important;
    border-top-color: #688a7e !important;
}

.notify-arrow-yellow {
    border-color: transparent transparent #FCB322;
    border-bottom-color: #FCB322 !important;
    border-top-color: #FCB322 !important;
}

.notify-arrow-red {
    border-color: transparent transparent #00a0df;
    border-bottom-color: #00a0df !important;
    border-top-color: #00a0df !important;
}

.notify-arrow-green {
    border-color: transparent transparent #4cd964;
    border-bottom-color: #4cd964 !important;
    border-top-color: #4cd964 !important;
}

/*search*/
.search {
    margin-top: 6px ;
    width: 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #fff;
    box-shadow: none;
    background: url("../img/search-icon.jpg") no-repeat 10px 8px;
    padding:0 5px 0 35px;
    color: #fff;
}

.search:focus {
    margin-top: 5px ;
    width: 180px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #c8c8c8;
    font-weight: 300;
}

/*--sidebar toggle---*/
.toggle-nav {
    float: left;
    padding-right: 15px;
    margin-top: 20px;
}

.toggle-nav .icon-reorder {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}

.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}

/*fontawesome*/
.fontawesome-icon-list h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 300;
}

.fontawesome-icon-list .col-sm-3 { margin-bottom: 10px;}

.fontawesome-icon-list .page-header {
    border-bottom: 1px solid #C9CDD7;
}

.fontawesome-icon-list i {
    font-size: 16px;
    padding-right: 10px;
}
#web-application, #text-editor, #directional, #video-player, #brand, #medical, #currency {
    margin-top: 10px;
}

/*button*/
.btn-row {
    margin-bottom: 10px;
}
/*general page*/
.progress-xs {
    height: 8px;
}
.progress-sm {
    height: 12px;
}
.panel-heading .nav {
    border: medium none;
    font-size: 13px;
    margin: -10px -15px -11px;
}
.tab-bg-primary {
    background: #688a7e;
    border-bottom: none;
}
.tab-bg-info {
    background: #324c57;
    border-bottom: none;
}
.tab-bg-info.panel-heading .nav > li.active > a, .tab-bg-info.panel-heading .nav > li > a:hover{
    color: #36464d;
}
.tab-bg-info.panel-heading .nav{
    margin: -10px 15px -11px;
}
.panel-heading .nav > li > a,
.panel-heading .nav > li.active > a, .panel-heading .nav > li.active > a:hover, .panel-heading .nav > li.active > a:focus {
    border-width: 0;
    border-radius: 0;
}

/*slider*/
table.sliders tr td {
    padding: 30px 0;
    border:none;
}
.slider {
    margin-top: 3px;
}
.slider-info {
    padding-top: 10px;
}
.sliders .ui-widget-header {
    background: #688a7e !important;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0 !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0 !important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0 !important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0 !important;
}
#eq span {height:120px; float:left; margin:15px}
.ui-widget-content {
    background: #f0f2f7 !important;
    border: none !important;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
}
.ui-slider-horizontal {
    height: 8px !important;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -0.57em   !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #fff !important;
    /*border: 3px solid #22bacf !important;*/
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
}
.ui-slider-vertical {
    width: 8px !important;
}
.ui-slider-vertical .ui-slider-handle {
    left: -0.5em  !important;
}
.ui-slider .ui-slider-handle {
    cursor: default;
    height: 1.6em;
    position: absolute;
    width: 1.6em;
    z-index: 2;
}
.bound-s {
    width: 90px;
    margin-bottom: 15px;
}
